<div class="container">
  <div class="row">
    <h1>Welcome to the Homepage</h1>
  </div>

  <button>wertyhjvg</button>
  <%= link_to ({:action=>"index", :controller=>"ambassadors"}) do %>
      <div class="btn btn-primary">Are you an influencer?</div>
  <% end %>

  <%= link_to ({:action=>"index", :controller=>"brands"}) do %>
      <div class="btn btn-primary">Need to be heard?</div>
  <% end %>
</div>
