<div class=""></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 tcenter">
    </div>
    <div class="col-md-8 far-top">
      <div class="ctitle">How influential are you?</div>
      <div>Let's find out. Get value from your social-media influence</div>
      <div class="row top50 tcenter">
        <div class="col-sm-8"><input class="form-control shad" type="text" placeholder="Email address"></div>
        <button class="btn btn-primary col-sm-4 shad">Subscribe</button>


      </div>
    </div>
  </div>
</div>
<div class="floater">
  <img src="http://www.spoox.eu/wp-content/uploads/2015/08/social_content1.png">
</div>