<h1>Welcome to the Ambassador's page</h1>
<ul>
  <li>Campaign
    <ul>
      <li>Search</li>
      <li>Ongoing</li>
      <li>Finished</li>
    </ul>
  </li>
  <li>Payments</li>
  <li>Setting</li>
</ul>