<head>
  <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="frame">
        <% @role = params[:role] %>
        <% if @role == 'influencer' %>
              <%= render "influencer_login" %>
        <% else %>
          <%= render "brand_login" %>
        <% end %>
        
       </div>
     </div>
   </div>
 </div>
</div>
