<div class="row">
  <div class="col-md-5">
    <%= image_tag 'campaign_zero.png' , class: 'zero' %><br>
    
  </div>
  <div class="col-md-7 center">
    <span class="zero-main">Your unique campaign will be powered by our Influencers</span><br><br>
     <span class="zero-sub">Click
       <%= link_to "/brands/#{brand.id}/campaigns/new", remote: true do %>
        <div class="btn btn-primary cload">Add campaign</div>
       <% end %> to Sway <b><i><%= brand.name %></i></b> Up</span>

  </div>
</div>