// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_self
 *= require_tree ./brands
 */

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  transition: all 0.2s ease;
}

.card:hover{
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  -moz-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.zero{
  opacity: 0.1;
  max-width: 90%;
}

.zero-main{
  font-size: 60px;
  color: #216655;
  font-weight: 700;
}

.zero-sub{
  font-size: 30px;
  color: #999;
}

.center{
  margin: auto;
  text-align: center;
}

.white{
  background: #fff;
}

.card .no-pad{
  margin: -1.5rem;
  color: #333;
  padding: 1.5rem;
}

.inactive{
  border-bottom: 3px solid #ea95fb;
}

.form-group label{
  margin: -19px 0px 0px !important;
}

.float-top-right{
  position: relative;
  float: right;
  top: 5px;
  right: 10px;
}

#hash-circle{
  min-height: 20px;
  min-width: 20px;
  background: #ccc;
  box-shadow: 2px 2px #ccc;
}

.circle{
  border-radius: 50%;
}