.center{
  margin: auto;
  text-align: center;
}

.white{
  background: #fff;
}

.card .no-pad{
  margin: -1.5rem;
  color: #333;
  padding: 1.5rem;
}

.c-inactive{
  border-bottom: 3px solid #ea95fb;
}

.form-group label{
  margin: -19px 0px 0px !important;
}

.float-top-right{
  position: relative;
  float: right;
  top: 5px;
  right: 10px;
}

#hash-circle{
  min-height: 20px;
  min-width: 20px;
  background: #ccc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.circle{
  border-radius: 50%;
}

.field {
  margin: 10px 0 10px 0;
  font-size: 15px;
}

.ftitle{
  color: #049485;
  font-weight: 700;
}

.brand-accent {
  background: #775ca4 !important;
  color: #fff !important;
}

.slim{
  max-width: 400px;
}

.shad{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.px100{
  width: 100px;
}

.cprofile{
  max-width: 300px;
}

.ctitle{
  font-size: 20px;
  font-weight: 500;
  color: rgb(55, 133, 155);
}

.cphoto{
  width: 90%;
}

.link-white a{
  color: #fff;
  transition: all 0.2s ease;
}

.embed{
  background: #ddd;
}

.embed hr{
  border-top: 1px solid #ccc;
}

.invite-but {
  text-align: center;
  font-size: 15px;
  padding: 10px 0px;
}
.red {
  color: rgb(213, 3, 3);
}

.cdelete{
  font-size: 15px;
  color: rgb(213, 3, 3);
  text-align: center;
}

.cdelete:hover, .invite-but:hover{
  background: #eee;
}

.cinvite img{
  width: 100%;
  border-right: 1px solid #ccc;
}

#jloader{
  width: 100px;
  height: 100px;
  background: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 3;
}