// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background:
    -webkit-linear-gradient(rgba(88, 62, 126, 0.5), rgba(88, 62, 126, 0.5)), url(01.jpg) no-repeat center center fixed;
  background:
    linear-gradient(
    rgba(88, 62, 126, 0.5),
    rgba(88, 62, 126, 0.5)),
    url(01.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.btn {
	border-radius: 0px;
}

em {
	color: #FFF;
	font-size: 13px;
}
.frame {
  z-index: 15;
  width: 430px;
  background: rgba(88, 62, 126, 0.8);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

.frame-short {
  height: 400px;
  margin-top: 50px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
}
.form-bar {
	width:80%;
}
.reg {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

.reg-up {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}

li.signin-active,.signup-inactive {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}

.signin-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #1059FF;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px;
}

.signup-active a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #1059FF;
  padding-bottom: 10px;
  box-shadow: 0px 0px 0px 0px;
}

.signup-inactive a {
  cursor: pointer;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}

.form-signin {
  width: 430px;
  height: 375px;
  box-shadow: 0px 0px 0px 0px;
	font-size: 16px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
          transition: opacity .5s ease, transform .5s ease;
}

.form-signin-left {
  -webkit-transform: translateX(-400px);
      -ms-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: .0;
  box-shadow: 0px 0px 0px 0px;
}

.form-sign {
  width: 430px;
	font-size: 16px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  position: relative;
  top: -375px;
  left: 400px;
  opacity: 0;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

.form-signup-left {
  -webkit-transform: translateX(-399px);
      -ms-transform: translateX(-399px);
          transform: translateX(-399px);
  opacity: 1;
}

.form-signup-down {
  top: 0px;
  opacity: 0;
}

.success {
  width: 80%;
  height: 120px;
  text-align: center;
  position: relative;
  top: -890px;
  left: 450px;
  opacity: .0;
  -webkit-transition: all .8s .4s ease;
          transition: all .8s .4s ease;
}



.form-signin input, .form-signup input {
  color: #ffffff;
  font-size: 13px;
}

.form-styling {
  color: #FFF;
  font-size: 13px;
  width: 80%;
  text-align: center;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

label {
  font-weight: 400;
  text-transform: none;
  font-size: 13px;
  padding-left: 15px;
  color: rgba(255,255,255,.7);
  display: block;
}

label.tick {
	text-transform: uppercase;
	text-align: left;
	margin-left: 25%;
}

:focus {
  outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
    background: rgba(255,255,255,.3);
    border: none; 
    padding-right: 40px;
    -webkit-transition: background .5s ease;
            transition: background .5s ease;
 }

 #check path {
    stroke: #ffffff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255,255,255,.0);
    -webkit-transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
            transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255,255,255,.03);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 85px;
  padding-top: 2px;
  cursor: pointer;
  margin-top: 8px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  width: 65px; 
  height: 30px;
  background: rgba(255,255,255,.2);
  border-radius: 15px;
  left: 0; 
  top: -3px;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 10px; 
  height: 10px;
  background: rgba(255,255,255,.7);
  border-radius: 50%;
  top: 7px; 
  left: 10px;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: #0F4FE6; 
}

[type="checkbox"]:checked + label:after {
  background: #ffffff;
  top: 7px; 
  left: 45px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px;
  color: rgba(255,255,255,.7);
}

[type="checkbox"]:checked + label .ui:after {
  content: "yes";
  color: #ffffff;
}

[type="checkbox"]:focus + label:before {
  box-sizing: border-box;
  margin-top: -1px;
}

.btn-sign {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10%;
  background-color: #1059FF;
}

.btn-cancel {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  margin-left: 30%;
  padding: 8px;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.forgot {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 24px;
  margin-top: 60px;
  border-top: solid 1px rgba(255,255,255,.3);
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.forgot-left {
  -webkit-transform: translateX(-400px);
      -ms-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: 0;
}

.forgot-fade {
  opacity: 0;
}

.forgot a {
  color: rgba(255,255,255,.3);
  font-weight: 400;
  text-decoration: none;
}

.welcome {
  width: 100%;
  height: 50px;
  position: relative;
  color: rgba(35,43,85,0.75);
  opacity: 0;
  -webkit-transition: -webkit-transform 1.5s ease .25s, opacity .1s ease 1s;
          transition: transform 1.5s ease .25s, opacity .1s ease 1s;
}

.welcome-left {
  -webkit-transform: translateY(-780px);
      -ms-transform: translateY(-780px);
          transform: translateY(-780px);
  opacity: 1; 
}


h1 {
  color: #ffffff;
  font-size: 35px;
	font-weight: 300;
  text-align: center;
}

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: #f2dede;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    padding: 13px 0 0 1px;
}

.refreshicon {
    fill: #1059FF;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: fill .25s ease, -webkit-transform .25s ease;
            transition: fill .25s ease, transform .25s ease;
}

.refreshicon:hover {
  cursor: pointer;
  fill: #b94a48;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}