<div class="card card-outline">
    Brands
    <% brands.each do |b| %>
        <%= link_to ({action: "index", controller: "campaigns", brand_id: b.id, remote: true}) do %>
            <div class="card slim">
              <%= b.name %>
            </div>
        <% end %>
    <% end %>
</div>