<div class="card card-outline">
    <ul>Brands
      <% brands.each do |b| %>
          <li>
            <%= link_to ({action: "index", controller: "campaigns", brand_id: b.id, remote: true}) do %>
                <%= b.name %><br>
            <% end %>
          </li>
      <% end %>
    </ul>
</div>