<div class="col-md-6 col-md-offset-3">
<div class="card card-outline style-accent">
  <div class="card-head">
  <h1 class="text-center">Create a new brand</h1>
</div>
<div class="white no-pad">
  <%= form_for @brand do |f|%>
    <div class="form-group floating-label spacing">
      <%= f.text_field :name, size: '80', class:"form-control" %>
      <label>Name</label>
    </div>
    <div class="form-group floating-label spacing">
      <%= f.text_field :description, size: '80', class:"form-control"%>
      <label>Description</label>
    </div>
    <div class="form-group floating-label spacing">
      <%= f.submit 'Create Brand' , class:"btn ink-reaction btn-lg btn-accent" %>
    </div>

<% end %>

  <div id="cerror"></div>
</div>
</div>
</div>