<h1>Brands#index</h1>

<% if @brands.length == 0 %>
    You have not created any brands
<% else %>
    <% @brands.each do |b| %>
        <%= link_to ({action: "show", controller: "brands", id: b.id}) do %>
            <%= b.name %><br>
        <% end %>

    <% end %>
<% end %>

<%= link_to ({:action=>"new", :controller=>"brands"}) do %>
    <div class="btn btn-primary">+ Add brand</div>
<% end %>

