<div class="card-head style-accent">
	<h1>Create a new brand</h1>
</div>
<div class="card-body">
	<%= form_for @brand do |f|%>
    <div class="field">
      <%= f.text_field :name, size: '80', placeholder: "Brand name"%>
    </div>
    <div class="field">
      <%= f.text_field :description, size: '80', placeholder: "Description"%>
    </div>
    <div class="field">
      <%= f.submit %>
    </div>

<% end %>

</div>
