<h1>Brands#show</h1>
<h1>Brand name: <%= @brand.name %></h1>
<% if @campaigns.length == 0 %>
    You have not created any campaigns
<% else %>
    <% @campaigns.each do |c| %>
        <%= link_to c.name, brand_campaign_path(c) %><br>
    <% end %>
<% end %>

<%= link_to "/brands/#{@brand.id}/campaigns/new" do %>
    <div class="btn btn-primary"><i class="fa fa-plus"></i> Add Campaign</div>
<% end %>